@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff");
}

:root {
  --bg-background: #fefefe;
  --bg-background-dark: #131313;
  --bg-primary: #1e73be;
  --bg-secondary: #c1e7f4;
  --bg-tertiary: #1e73be;
  --bg-contrast: #ffff00;
  --fg-primary: #ffffff;
  --fg-black: #000000;
}

body {
  color: var(--bg-background-dark);
  background: var(--bg-background);
}
