<footer class="flex flex-col justify-center items-between gap-2 bg-slate-900 w-full py-5">
    <div class="flex justify-between items-center gap-2 h-40">
        <div class="flex-1 flex flex-col items-center gap-2">
            <img class="w-16" src="/img/logo.png" alt="Centro de formación profesional de la Criolla">
						<h3 class="text-lg font-bold">CFP61</h3>
        </div>
        <div class="flex-1 flex flex-col items-center">
            <h3 class="text-gray-500">Información</h3>
            <ul>
                <li><a href="/faq">Preguntas frecuentes</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
        <div class="flex-1 flex flex-col items-center">
            <h3 class="text-gray-500">Información</h3>
            <ul>
                <li><a href="/faq">Preguntas frecuentes</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
        <div class="flex-1 flex flex-col items-center">
            <h3 class="text-gray-500">Información</h3>
            <ul>
                <li><a href="/faq">Preguntas frecuentes</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
    <div class="flex justify-center w-full">
        <p class="text-white flex flex-col items-center">
            <span>&copy; {{ 'now'|date('Y') }} Centro de formación profesional N° 61. Todos los derechos reservados.</span>
            <span>Desarrollado por <a class="text-sky-400 underline" href="https://ferchudev.com" target="_blank">Fernando Pessoa</a></span>
        </p>
    </div>
</footer>
