<header
	class="flex justify-between items-center h-16 p-2 bg-[linear-gradient(to_bottom,var(--bg-primary),var(--bg-tertiary))]">
	<img
		class="h-full"
		src="/img/logo.png"
		alt="Centro de formación profesional de la Criolla">
	<nav class="flex justify-between items-center px-4">
		<ul class="flex justify-between items-center gap-10">
			<li class="border-transparent border-b-2 hover:border-white h-full"><a class="text-white" target="_blank" href="/">Sitio</a></li>
			{% if logged %}
				<li 
					id="btn-user-dropdown" 
					class="border-transparent relative border-b-2 h-full hover:bg-[rgba(255,255,255,0.1)] px-4 py-2 rounded-xl cursor-pointer group"
					>
					<i class="fa-solid fa-user text-white"></i>
					<ul id="user-dropdown" class="absolute right-0 top-[100%] bg-[var(--bg-primary)] hidden h-max w-max px-4 py-2">
						<li><a href="/logout" class="text-white">Cerrar sesion</a></li>
					</ul>
					</li>
			{% endif %}
		</ul>
	</nav>
</header>
