<div
		class="w-[200px] bg-slate-900 h-[100vh] flex flex-col gap-2 p-2 items-center pt-4 fixed left-0 float-left top-10 z-10"
>
	<h1 class="text-2xl text-white">CFP61</h1>
	<ul class="flex flex-col gap-2 w-full">
		<li class="group rounded-md hover:bg-slate-800 flex">
			<a href="/admin" class="select-none text-white w-full py-2 px-4">Inicio</a>
		</li>
		<li class="group rounded-md hover:bg-slate-800 flex">
			<a href="/admin/trayectos" class="select-none text-white w-full py-2 px-4">Trayectos</a>
		</li>
		<li class="group rounded-md hover:bg-slate-800 flex">
			<a href="/admin/multimedia" class="select-none text-white w-full py-2 px-4">Multimedia</a>
		</li>
		<li class="group rounded-md hover:bg-slate-800 flex">
			<a href="/admin/users" class="select-none text-white w-full py-2 px-4">Usuarios</a>
		</li>
		<li class="group rounded-md hover:bg-slate-800 flex">
			<a href="/admin/sample" class="select-none text-white w-full py-2 px-4">Muestra</a>
		</li>
		<li class="group rounded-md hover:bg-slate-800 flex">
			<a href="/admin/preinscriptions" class="select-none text-white w-full py-2 px-4">Preinscripciones</a>
		</li>
	</ul>
</div>
