<a href="https://www.instagram.com/cfp61lacriolla/" target="_blank" class="group size-10">
	<img class="transition duration-300 ease-in-out w-full group-hover:scale-110" src="/img/icons/instagram.svg" alt="Instagram de CFP61">
</a>
<a href="https://wa.me/3454123356?text=Hola" target="_blank" class="group size-10">
	<img class="transition duration-300 ease-in-out w-full group-hover:scale-110" src="/img/icons/whatsapp.svg" alt="whatsapp de CFP61">
</a>
<a href="https://www.facebook.com/cfp61lacriolla/" target="_blank" class="group size-10">
	<img class="transition duration-300 ease-in-out w-full group-hover:scale-110" src="/img/icons/facebook.svg" alt="facebook de CFP61">
</a>
