{% extends "layouts/base.twig" %}


{% block title %}
	<title>CFP61 - {{ course.name }}</title>
{% endblock %}

{% block content %}
	<section class="flex flex-col items-center p-10">
		<h1></h1>
	</section>
{% endblock %}
