{% extends 'layouts/base.twig' %}

{% block title %}
    <title>Centro de Formación Profesional N°61</title>
    <link rel="stylesheet" href="/css/slider.css">
{% endblock %}

{% block content %}
<section class="flex flex-col md:flex-row items-center bg-[linear-gradient(to_right,#f0f9ff,#a8c0ff)] h-max py-10 md:py-0 md:h-[calc(100vh_-_80px)]">
    <div class="flex flex-col justify-center w-full md:w-1/2 gap-3 h-full px-4">
        <h1 class="text-xl md:text-3xl font-bold italic text-[var(--bg-primary)]">
            Centro de Formación Profesional N°61
        </h1>
        <p class="text-sm md:text-md text-black text-justify">
            Formamos profesionales para un futuro laboral exitoso, con capacitación práctica y de calidad en La Criolla y Colonia Ayuí.
        </p>
        <p class="text-sm md:text-md text-black text-justify">
          La Formación Profesional permite compatibilizar la promoción social, profesional y personal con la productividad de la economía nacional, regional y local.
        </p>
				<div class="flex gap-4">
					{{ include('components/social.twig') }}
				</div>
				{% if status_inscription %}
					<a class="bg-blue-500 w-max hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" href="/preinscripcion">Pre inscripción {{ 'now'|date('Y') }}</a>
				{% endif %}
    </div>
    <div class="flex flex-col items-center justify-center w-[200px] md:w-1/2 h-full py-10">
        <img class="h-1/2" src="/img/logo.png" alt="Centro de formación profesional de la Criolla">
    </div>
</section>
<section class="flex md:flex-row flex-col gap-10 justify-center items-center h-max md:h-screen bg-slate-900 py-10 md:py-0">
    <div class="flex flex-col justify-center gap-4 h-full md:w-1/2 w-full px-4">
        <h2 class="text-xl md:text-3xl font-bold italic text-[var(--bg-tertiary)]">Objetivos</h2>
        <p class="text-sm md:text-lg text-white">
            Nuestra oferta busca preparar, actualizar y desarrollar las capacidades de las personas para el mundo del trabajo. Capacitamos en conocimientos específicos, competencias básicas, profesionales y sociales para que jóvenes y adultos/as puedan mejorar sus oportunidades de empleabilidad. La oferta de cursos y trayectos se orienta a temáticas como: Informática, gastronomía, herrería, electricidad, belleza, cosmética, marroquinería, entre otras.
        </p>
    </div>
    <div class="w-full md:w-1/2 h-full flex flex-col relative">
        <div class="container-slider">
          <div id="slider" class="slider" style="width: 400%;">
            <div class="slider-section">
              <img class="slider-section__img" src="/static/img1.jpg" alt="" />
            </div>
            <div class="slider-section">
              <img class="slider-section__img" src="/static/img2.jpg" alt="" />
            </div>
            <div class="slider-section">
              <img class="slider-section__img" src="/static/img3.jpg" alt="" />
            </div>
            <div class="slider-section">
              <img class="slider-section__img" src="/static/img4.jpg" alt="" />
            </div>
          </div>
          <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
          <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
        </div>
        <h3 class="text-2xl md:text-3xl font-bold italic text-[var(--bg-tertiary)] absolute bottom-10 md:bottom-20 px-8">Muestra 2023</h3>
    </div>
</section>
<section class="flex md:flex-row flex-col justify-center w-full h-max md:h-screen bg-[linear-gradient(to_right,#f0f9ff,#a8c0ff)] gap-4 py-10">
	<div class="w-full flex md:flex-row flex-col justify-center items-center gap-4 px-4">
		<div class="flex flex-col gap-4 w-full md:w-1/2">
			<h3 class="text-xl md:text-3xl font-bold italic text-[var(--bg-primary)]">¿Donde estamos?</h3>
			<p class="text-sm md:text-md text-black">Rio Bermejo N°278 La Criolla, Dpto Concordia.<br> Instalaciones del Club Juan B. Alberdi.</p>
		</div>
		<div class="border-2 border-[var(--bg-primary)] rounded-lg w-full md:w-1/2 h-[300px] overflow-hidden">
			<iframe class="w-full h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d852.5441943552387!2d-58.10742983043457!3d-31.27120505212645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95adecb04d7457bd%3A0x98aa53d46aa8cd3f!2sR%C3%ADo%20Bermejo%2C%20La%20Criolla%2C%20Entre%20R%C3%ADos!5e0!3m2!1ses-419!2sar!4v1731885450764!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
</section>
<section class="flex flex-col gap-4 justify-center items-center h-max bg-[linear-gradient(to_right,#f0f9ff,#a8c0ff)] py-10">
	<h3 class="md:text-3xl text-2xl font-bold italic text-[var(--bg-primary)]">Equipo de Conducción: </h3>
	<ul class="text-black">
		<li class="text-black md:text-md text-sm"><b>RECTOR:</b> Joaquín I. Villanueva </li>
		<li class="text-black md:text-md text-sm"><b>SECRETARIO:</b> Franco A. Alvarez</li>
		<li class="text-black md:text-md text-sm"><b>JEFE DE TALLER:</b> Juan Roude.</li>
	</ul>
</section>
<script src="/js/app.js" type="module"></script>
{% endblock %}
