{% extends 'layouts/base.twig' %}

{% block title %}
    <title>Centro de Formación Profesional N°61</title>
{% endblock %}

{% block content %}
    <div class="min-h-[calc(100vh-64px)] flex flex-col items-center justify-center bg-[linear-gradient(to_right,#f0f9ff,#a8c0ff)]">
        <h1 class="text-3xl font-bold">
            ¡Bienvenido a CFP61!
        </h1>
        <p>
            Formamos profesionales para un futuro laboral exitoso, con capacitación práctica y de calidad en La Criolla y Colonia Ayuí
        </p>
    </div>
{% endblock %}
