{% extends "layouts/base.twig" %}

{% block title %}
	<title>Inicio</title>
{% endblock %}

{% block content %}
	<div class="min-h-[calc(100vh-64px)] flex flex-col items-center justify-center">
		<h1 class="text-5xl font-bold">
			Bienvenido a CFP61
		</h1>
	</div>
{% endblock %}
