{% extends 'layouts/base.twig' %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <section class="flex flex-col justify-center items-center h-screen bg-[linear-gradient(to_right,#f0f9ff,#a8c0ff)]">
        <form class="flex flex-col items-center gap-4 bg-slate-900 shadow-2xl rounded px-8 pt-6 pb-8 mb-4 w-1/2 h-2/3" action="/login" method="post">
            <img class="h-16" src="/img/logo.png" alt="Centro de formación profesional de la Criolla">
            <input class="px-4 py-2 mb-4 w-full border-none outline-none rounded-md" type="email" name="email" placeholder="Correo electronico">
            <input class="px-4 py-2 mb-4 w-full border-none outline-none rounded-md" type="password" name="password" placeholder="Contraseña">
            <input 
							class="transition duration-300 ease-in-out rounded-md px-4 py-2 mb-4 border-2 w-max cursor-pointer text-white hover:text-slate-900 hover:bg-gray-100" 
							type="submit" 
							value="Iniciar sesion">
        </form>
    </section>
{% endblock %}
