{% extends 'layouts/base.twig' %}

{% block title %}
    <title>Quienes somos</title>
{% endblock %}

{% block content %}
    <section class="flex flex-col gap-10 items-center justify-center min-h-screen px-4 w-full bg-[linear-gradient(to_right,#f0f9ff,#a8c0ff)] py-10">
			<div class="w-[90%] md:w-[80%] flex flex-col">
				<h1 class="relative text-xl md:text-3xl font-bold italic text-[var(--bg-primary)]">
            Quienes somos
        </h1>
				<p class="sm:text-sm md:text-md text-black md:text-justify">El CENTRO FORMACIÓN PROFESIONAL N° 61 dependiente de la Dirección de Educación Técnico Profesional del Consejo General de Educación funciona en la Localidad de La Criolla desde el año 2014 y actualmente cuenta con un anexo en la ciudad vecina de Colonia Ayuí.
Somos una institución educativa que brinda trayectos de formación profesional y capacitación laboral para una rápida inserción en el mercado socioproductivo local y regional. 
La Formación Profesional permite compatibilizar la promoción social, profesional y personal con la productividad de la economía nacional, regional y local.
				</p>
			</div>
			<div class="w-[90%] md:w-[80%] flex flex-col">
				<h2 class="text-xl md:text-3xl font-bold italic text-[var(--bg-primary)]">
            Propósitos y objetivos
        </h2>
				<p class="text-sm md:text-md text-black md:text-justify">El CENTRO FORMACIÓN PROFESIONAL N° 61 dependiente de la Dirección de Educación Técnico Profesional del Consejo General de Educación funciona en la Localidad de La Criolla desde el año 2014 y actualmente cuenta con un anexo en la ciudad vecina de Colonia Ayuí.
Somos una institución educativa que brinda trayectos de formación profesional y capacitación laboral para una rápida inserción en el mercado socioproductivo local y regional. 
La Formación Profesional permite compatibilizar la promoción social, profesional y personal con la productividad de la economía nacional, regional y local.
				</p>
			</div>
    </section>
{% endblock %}
