<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/app.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/f845b9182b.js" crossorigin="anonymous"></script>

    {% block title %}

    {% endblock %}
</head>
<body>
    {{ include('components/header_admin.twig') }}
    {% block content %}

    {% endblock %}
    <script src="/js/main.js" type="module"></script>
</body>
</html>
