<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/app.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/f845b9182b.js" crossorigin="anonymous"></script>

    {% block title %}

    {% endblock %}
</head>
<body class="relative">
		<div class="hidden w-max items-center justify-center absolute top-10 right-4 border text-green-700 px-4 py-2 rounded z-50 gap-4" id="alerts">
			<p id="alerts__message" class="font-bold text-black"></p>	
			<button id="alerts__close" class="text-black font-bold cursor-pointer text-2xl">
				<i class="fa-solid fa-x"></i>
			</button>
		</div>
    {{ include('components/header_admin.twig') }}
		<div class="w-[100%] position-relative pl-52 pt-10">
			{% block content %}

			{% endblock %}
		</div>
		<!-- Alerts -->
    <script src="/js/main.js" type="module"></script>
</body>
</html>
