{% extends 'layouts/admin.twig' %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block content %}
    <div class="min-h-[calc(100vh-64px)] flex flex-col items-center justify-center">
        <h1 class="text-5xl font-bold">
            Dashboard
        </h1>
    </div>
{% endblock %}
