{% extends 'layouts/admin.twig' %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block content %}
		{% include "components/sidebar.twig" %}
			<div class="w-[100%] bg-gray-100 min-h-screen flex flex-col p-2">
				<div class="bg-slate-900 w-full h-max flex flex-col gap-4">
					<p class="text-3xl p-4 text-white">Bienvenido al panel de administracioÌn <span class="text-gray-400 text-sm">By Ferchudev</span></p>
				</div>
			</div>
{% endblock %}
