
{% extends 'layouts/admin.twig' %}

{% block title %}
    <title>CFP61 - Muestras</title>
{% endblock %}

{% block content %}
		{% include "components/sidebar.twig" %}
			<div class="w-[100%] bg-gray-100 min-h-screen flex flex-col px-4">
			</div>
{% endblock %}
